@page "/"
@using Galaxy.Security.UI.Services
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Supervisor,Customer")]
@inject HttpClient http
@inject AuthenticationStateProvider Auth
@inject NavigationManager Navegador
@inject IToastService ToastService
<PageTitle>Home</PageTitle>


<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="welcome-section">
        <h1>Sistema de Reclamos</h1>
        <p>Gestiona y consulta reclamos</p>
    </div>

    <div class="cards-grid">
        <div class="card registro" @onclick="RegistroReclamo">
            <div class="card-icon">
                <i class="bi bi-clipboard-check"></i>
            </div>
            <h3>Nuevo Reclamo</h3>
            <p>Registra un nuevo reclamo en el sistema</p>
        </div>

        <div class="card consulta" @onclick="ConsultaReclamos">
            <div class="card-icon">
                <i class="bi bi-clipboard2-pulse-fill"></i>
            </div>
            <h3>Consultar</h3>
            <p>Revisa el estado de tus reclamos</p>
        </div>

        <div class="card salir" @onclick="CerrarSesion">
            <div class="card-icon">
                <i class="bi bi-door-open"></i>
            </div>
            <h3>Cerrar Sesión</h3>
        </div>
    </div>
</div>

@code {
    private void RegistroReclamo()
    {
        Navegador.NavigateTo("/reclamo/nuevo");
    }

    private void ConsultaReclamos()
    {
        Navegador.NavigateTo("/reclamo/consulta");
    }

    public async Task CerrarSesion()
    {
        try
        {
            var authService = (AuthenticationService)Auth;
            await authService.Logout();
            Navegador.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error en inicio de sesión: {ex.Message}");
            ToastService.ShowError("Ocurrió un error inesperado al iniciar sesión.");
        }
    }
}
